<!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">

	

	

	
	<link href="/resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	
	<link href="/resources/css/sb-admin-2.css" rel="stylesheet" type="text/css">
	<link href="/resources/css/site.css" rel="stylesheet" type="text/css">

	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
	<link rel="stylesheet" href="/resources/css/article.css" type="text/css">

	
	<link rel="icon" href="/images/favicon.png">

	<title>A Blazor Modal Dialog</title>
        <meta property="author" content="Shaun Curtis" />
        <meta property="description" content="This article describes how to build a modal dialog for Blazor that you can use with any form." />
    <meta property="og:site_name" content="Cold Elm Coders" />
        <meta property="og:site" content="https://shauncurtis.github.io/" />
        <meta property="og:title" content="A Blazor Modal Dialog" />
        <meta property="og:description" content="This article describes how to build a modal dialog for Blazor that you can use with any form." /></head>
<body><header class="navbar bg-dark p-2 text-large text-light"><section class="navbar-section  text-light"><a href="/" class="navbar-brand mr-2 text-large text-light p-2">Cold Elm Coders</a>
			<a href="/Posts" class="btn btn-link text-light">Posts</a>
			<a href="/Rants" class="btn btn-link text-light">Rants</a>
			<a href="/Articles" class="btn btn-link text-light">Articles</a>
			<a href="/Stories" class="btn btn-link text-light">Stories</a>
			<a href="/about.html" class="btn btn-link text-light">About</a></section></header>

	<div class="container-fluid"><div class="row"><div class="col-12 col-sm-3 col-lg-2 bg-light pt-2"><div class="article-info p-2"><div class="mb-2">Published: 23-Oct-2020</div>
                <div class="mb-2">Updated: 25-Jun-2021</div>
                <div class="mb-2">Author: Shaun Curtis</div></div>
    <h4 class="p-2">Table of Contents</h4>
<ul class="TOC" >
<li class="TOC-item TOC-item-0" >
<a class="TOC-link" href="#">Top</a>
<ul class="TOC TOC-0" >
<li class="TOC-item TOC-item-1" >
<ul class="TOC TOC-1" >
<li class="TOC-item TOC-item-2" >
<a class="TOC-link" href="#overview">Overview</a>
</li>
<li class="TOC-item TOC-item-2" >
<a class="TOC-link" href="#code-and-examples">Code and Examples</a>
</li>
<li class="TOC-item TOC-item-2" >
<a class="TOC-link" href="#the-modal-dialog-classes">The Modal Dialog Classes</a>
</li>
<li class="TOC-item TOC-item-2" >
<a class="TOC-link" href="#implementing-modals">Implementing Modals</a>
</li>
<li class="TOC-item TOC-item-2" >
<a class="TOC-link" href="#wrap-up">Wrap Up</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
			
			<div class="col-12 col-sm-9 col-lg-10 p-2"><div class="pt-2 pb-2 border-bottom mb-4 text-primary"><h1>A Blazor Modal Dialog</h1>
            <div><small>This article describes how to build a modal dialog for Blazor that you can use with any form.</small></div></div>
    <h2 id="overview">Overview</h2>
<p>If a web based SPA [Single Page Application] is goinfg to look like a a real application it needs a modal dialog framework.  This article shows how to build a modal dialog container for Blazor <code>IComponents</code>.</p>
<h2 id="code-and-examples">Code and Examples</h2>
<p>The component is part of my Application Framework Library <code>Blazor.Database</code> avaliable on Github at <a href="https://github.com/ShaunCurtis/Blazor.Database">Blazor.Database Repo</a>.</p>
<p>You can see a live version of the site here <a href="https://cec-blazor-database.azurewebsites.net/">CEC.Blazor WASM Site</a> - look at <em>Modal Weather</em>.</p>
<h2 id="the-modal-dialog-classes">The Modal Dialog Classes</h2>
<p>There are three classes, one interface and one Enum:</p>
<ol>
<li><code>IModalDialog</code></li>
<li><code>BaseModalDialog</code></li>
<li><code>ModalOptions</code></li>
<li><code>ModalResult</code></li>
<li><code>ModalResultType</code></li>
</ol>
<h3 id="imodal">IModal</h3>
<p><code>IModalDialog</code> defines an interface that all modal dialogs must implementation.</p>
<pre><code class="language-csharp">namespace Blazr.Modal
{
    public interface IModalDialog
    {
        ModalOptions Options { get; set; }

        //  Method to display a Modal Dialog
        Task&lt;ModalResult&gt; ShowAsync&lt;TModal&gt;(ModalOptions options) where TModal : IComponent;

        // Method to update the Modal Dialog during display
        void Update(ModalOptions options = null);

        // Method to dismiss - normally called by the dismiss button in the header bar
        void Dismiss();

        // Method to close the dialog - normally called by the child component TModal
        void Close(ModalResult result);
    }
}
</code></pre>
<h3 id="modalresulttype">ModalResultType</h3>
<pre><code class="language-csharp">namespace Blazr.Modal
{
    // Defines the types for exiting the dialog
    public enum ModalResultType
    {
        NoSet,
        OK,
        Cancel,
        Exit
    }
}
</code></pre>
<h3 id="modalresult">ModalResult</h3>
<p><code>ModalResult</code> is passed back to the <code>Show</code> caller as the <code>Task</code> completion result when the modal closes.</p>
<pre><code class="language-csharp">namespace Blazr.Modal
{
    public class ModalResult
    {
        // The closing type
        public BootstrapModalResultType ResultType { get; private set; } = ModalResultType.NoSet;

        // Whatever object you wish to pass back
        public object Data { get; set; } = null;

        // A set of static methods to build a BootstrapModalResult

        public static ModalResult OK() =&gt; new ModalResult() {ResultType = ModalResultType.OK };

        public static ModalResult Exit() =&gt; new ModalResult() {ResultType = ModalResultType.Exit};

        public static ModalResult Cancel() =&gt; new ModalResult() {ResultType = ModalResultType.Cancel };

        public static ModalResult OK(object data) =&gt; new ModalResult() { Data = data, ResultType = ModalResultType.OK };

        public static ModalResult Exit(object data) =&gt; new ModalResult() { Data = data, ResultType = ModalResultType.Exit };

        public static ModalResult Cancel(object data) =&gt; new ModalResult() { Data = data, ResultType = ModalResultType.Cancel };
    }
}
</code></pre>
<h3 id="modaloptions">ModalOptions</h3>
<p><code>ModalOptions</code> is an <code>IEnumerable</code> collection of options passed to the Modal Dialog class when opening the Dialog.</p>
<pre><code class="language-csharp">namespace Blazr.Modal
{   public class ModalOptions :IEnumerable&lt;KeyValuePair&lt;string, object&gt;&gt;
    {
        /// &lt;summary&gt;
        /// List of options
        /// &lt;/summary&gt;
        public static readonly string __Width = &quot;Width&quot;;
        public static readonly string __ID = &quot;ID&quot;;
        public static readonly string __ExitOnBackGroundClick = &quot;ExitOnBackGroundClick&quot;;

        private Dictionary&lt;string, object&gt; Parameters { get; } = new Dictionary&lt;string, object&gt;();

        public IEnumerator&lt;KeyValuePair&lt;string, object&gt;&gt; GetEnumerator()
        {
            foreach (var item in Parameters)
                yield return item;
        }

        IEnumerator IEnumerable.GetEnumerator()
            =&gt; this.GetEnumerator();

        public T Get&lt;T&gt;(string key)
        {
            if (this.Parameters.ContainsKey(key))
            {
                if (this.Parameters[key] is T t) return t;
            }
            return default;
        }

        public bool TryGet&lt;T&gt;(string key, out T value)
        {
            value = default;
            if (this.Parameters.ContainsKey(key))
            {
                if (this.Parameters[key] is T t)
                {
                    value = t;
                    return true;
                }
            }
            return false;
        }

        public bool Set(string key, object value)
        {
            if (this.Parameters.ContainsKey(key))
            {
                this.Parameters[key] = value;
                return false;
            }
            this.Parameters.Add(key, value);
            return true;
        }
    }
}
</code></pre>
<h3 id="basemodaldialog">BaseModalDialog</h3>
<p>The Razor Markup for <code>BaseModalDialog</code> implements the markup for a dialog.  A cascading value provides child form access to the <code>IModalDialog</code> instance.</p>
<pre><code class="language-csharp">@namespace Blazr.Modal
@inherits ComponentBase
@implements IModalDialog

@if (this.Display)
{
    &lt;CascadingValue Value=&quot;(IModalDialog)this&quot;&gt;
        &lt;div class=&quot;base-modal-background&quot; @onclick=&quot;OnBackClick&quot;&gt;
            &lt;div class=&quot;base-modal-content&quot; style=&quot;@this.Width&quot; @onclick:stopPropagation=&quot;true&quot;&gt;
                @this._Content
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/CascadingValue&gt;
}
</code></pre>
<p>Some key points:</p>
<ol>
<li>The component is initialised when the View is created and added to the RenderTree.  At this point it empty and hidden.</li>
<li>There's no need for multiple copies in different forms.  When &quot;hidden&quot; there's no form loaded.  Calling <code>Show&lt;TForm&gt;</code>, with the form to display defined as <code>TForm</code>, shows the dialog with an instance of <code>TForm</code> as it's child content.</li>
<li>The component hides itself.  Either the child form calls <code>Close</code> on the cascaded <code>IModalDialog</code> instance, or the modal calls <code>Dismiss</code>.  Both actions set the Task to completed, <code>Display</code> to false,  clear the content, and call <code>Render</code> which renders an empty component.</li>
<li>The component uses a <code>TaskCompletionSource</code> object to manage async behaviour and communicate task status to the caller.</li>
</ol>
<pre><code class="language-csharp">namespace Blazr.Modal
{
    public partial class BaseModalDialog : ComponentBase, IModalDialog
    {
        [Inject] private IJSRuntime _js { get; set; }

        public ModalOptions Options { get; protected set; } = new ModalOptions();

        public bool Display { get; protected set; }

        public bool IsLocked { get; protected set; }

        protected RenderFragment _Content { get; set; }

        protected string Width =&gt; this.Options.TryGet&lt;string&gt;(ModalOptions.__Width, out string value) ? $&quot;width:{value}&quot; : string.Empty;

        protected bool ExitOnBackGroundClick =&gt; this.Options.TryGet&lt;bool&gt;(ModalOptions.__ExitOnBackGroundClick, out bool value) ? value : false;

        protected TaskCompletionSource&lt;ModalResult&gt; _ModalTask { get; set; } = new TaskCompletionSource&lt;ModalResult&gt;();

        public Task&lt;ModalResult&gt; ShowAsync&lt;TModal&gt;(ModalOptions options) where TModal : IComponent
        {
            this.Options = options ??= this.Options;
            this._ModalTask = new TaskCompletionSource&lt;ModalResult&gt;();
            this._Content = new RenderFragment(builder =&gt;
            {
                builder.OpenComponent(1, typeof(TModal));
                builder.CloseComponent();
            });
            this.Display = true;
            InvokeAsync(StateHasChanged);
            return this._ModalTask.Task;
        }

        /// &lt;summary&gt;
        /// Method to update the state of the display based on UIOptions
        /// &lt;/summary&gt;
        /// &lt;param name=&quot;options&quot;&gt;&lt;/param&gt;
        public void Update(ModalOptions options = null)
        {
            this.Options = options ??= this.Options;
            InvokeAsync(StateHasChanged);
        }

        /// Method called by the dismiss button to close the dialog
        /// sets the task to complete, show to false and renders the component (which hides it as show is false!)
        public async void Dismiss()
        {
            _ = this._ModalTask.TrySetResult(ModalResult.Cancel());
            this.Display = false;
            this._Content = null;
            await InvokeAsync(StateHasChanged);
        }

        /// Method called by child components through the cascade value of this component
        /// sets the task to complete, show to false and renders the component (which hides it as show is false!)
        public async void Close(ModalResult result)
        {
            _ = this._ModalTask.TrySetResult(result);
            this.Display = false;
            this._Content = null;
            await InvokeAsync(StateHasChanged);
        }

        private void SetPageExitCheck(bool action)
        {
            _js.InvokeAsync&lt;bool&gt;(&quot;cecblazor_setEditorExitCheck&quot;, action);
        }

        public void Lock(bool setlock)
        {
            if (setlock &amp;&amp; !this.IsLocked)
            {
                this.IsLocked = true;
                this.SetPageExitCheck(true);
            }
            else if (this.IsLocked &amp;&amp; !setlock)
            {
                this.IsLocked = false;
                this.SetPageExitCheck(false);
            }
        }

        private void OnBackClick(MouseEventArgs e)
        {
            if (ExitOnBackGroundClick &amp;&amp; !IsLocked)
                this.Close(ModalResult.Exit());
        }
    }
}
</code></pre>
<p>Next we add some component Css as <em>BasModalDialog.razor.css</em>.</p>
<pre><code class="language-css">div.base-modal-background {
    display: block;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.base-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 10px;
    border: 2px solid #888;
    width: 90%;
}
</code></pre>
<p>Finally we need to set up some JsInterop to handle browser exit locking.  Add a <em>site.js</em> file to <em>wwwroot</em></p>
<pre><code class="language-js">window.cecblazor_setEditorExitCheck = function (show) {
    if (show) {
        window.addEventListener(&quot;beforeunload&quot;, cecblazor_showExitDialog);
    }
    else {
        window.removeEventListener(&quot;beforeunload&quot;, cecblazor_showExitDialog);
    }
}

window.cecblazor_showExitDialog = function (event) {
    event.preventDefault();
    event.returnValue = &quot;There are unsaved changes on this page.  Do you want to leave?&quot;;
}
</code></pre>
<p>And add a reference to the SPA startup page - _Host.cshtml or index.html:</p>
<pre><code class="language-html">    &lt;script src=&quot;/site.js&quot;&gt;&lt;/script&gt;
</code></pre>
<h2 id="implementing-modals">Implementing Modals</h2>
<p>We will demonstrate using the modal dialog with two examples:</p>
<ol>
<li>Displaying the FetchData page in a modal dialog.</li>
<li>A Pseudo editor page</li>
</ol>
<h3 id="inital-setup">Inital Setup</h3>
<ol>
<li>Start with a standard Blazor Server template site.</li>
<li>Set up the five classes/interfaces/emuns above.</li>
<li>Add the <code>Blazr.Dialog</code> namespace to <code>_Imports.razor</code>.</li>
</ol>
<h3 id="modify-fetchdata">Modify FetchData</h3>
<pre><code class="language-html">@page &quot;/fetchdata&quot;

.....

    @if (this.isDialog)
    {
        &lt;div class=&quot;text-right&quot;&gt; &lt;button class=&quot;btn btn-dark&quot; @onclick=&quot;Exit&quot;&gt;Exit&lt;/button&gt;&lt;/div&gt;
    }
}
</code></pre>
<pre><code class="language-csharp">@code {

    [CascadingParameter] IModalDialog Dialog { get; set; }

    private bool isDialog =&gt; Dialog is not null;

    private List&lt;WeatherForecast&gt; forecasts;

    private void Exit()
    {
        this.Dialog.Dismiss();
    }
    .....
}
</code></pre>
<h3 id="modify-index.razor">Modify Index.razor</h3>
<pre><code class="language-html">@page &quot;/&quot;

&lt;button class=&quot;btn btn-primary&quot; @onclick=&quot;ShowModal&quot;&gt;Show FetchData&lt;/button&gt;
&lt;BaseModalDialog @ref=&quot;Dialog&quot; /&gt;
</code></pre>
<pre><code class="language-csharp">@code {
    public IModalDialog Dialog { get; set; }

    private void ShowModal()
        =&gt; Dialog.ShowAsync&lt;FetchData&gt;( new Blazr.Modal.ModalOptions());
}
</code></pre>
<h3 id="form-using-bootstrapmodal">Form using BootstrapModal</h3>
<p>This demonstrates using an edit form in a dialog.</p>
<p>First the component - <em>PseudoEditor.Razor</em></p>
<p>Use the &quot;Set To Dirty&quot; button to emulate making edits in the form.</p>
<pre><code class="language-html">&lt;h3&gt;PseudoEditor&lt;/h3&gt;

&lt;div&gt; DATA&lt;/div&gt;

&lt;div class=&quot;p-2 m-2 text-right&quot;&gt;
    &lt;button class=&quot;btn @this._editButtonColour&quot; @onclick=&quot;this.SetToEdit&quot;&gt;@this._editButtonText&lt;/button&gt;
    &lt;button disabled=&quot;@(!this._isDirty)&quot; class=&quot;btn btn-success&quot; @onclick=&quot;this.Save&quot;&gt;Save&lt;/button&gt;
    &lt;button disabled=&quot;@(this._isDirty)&quot; class=&quot;btn btn-dark&quot; @onclick=&quot;this.Close&quot;&gt;Close&lt;/button&gt;
&lt;/div&gt;

@code {
    [CascadingParameter]
    public IModalDialog Modal { get; set; }

    private bool _isModal =&gt; this.Modal != null;

    private bool _isDirty;

    private string _editButtonColour =&gt; _isDirty ? &quot;btn-danger&quot; : &quot;btn-success&quot;;

    private string _editButtonText =&gt; _isDirty ? &quot;Set To Clean&quot; : &quot;Set To Dirty&quot;;

    private void SetToEdit()
    {
        _isDirty = !_isDirty;
        if (_isModal)
            this.Modal.Lock(_isDirty);
    }

    private void Save(MouseEventArgs e)
    {
        this.Modal.Close(ModalResult.OK());
    }

    public void Close(MouseEventArgs e)
    {
        this.Modal.Close(ModalResult.OK());
    }
}
</code></pre>
<p>The test page:</p>
<pre><code class="language-html">@page &quot;/modal&quot;

&lt;div&gt;
    &lt;button class=&quot;btn btn-primary&quot; @onclick=&quot;GetYesNo&quot;&gt;Open&lt;/button&gt;
&lt;/div&gt;
&lt;BaseModalDialog @ref=&quot;this.Modal&quot;&gt;&lt;/BaseModalDialog&gt;
@code
{
    private BaseModalDialog Modal { get; set; }

    private void GetYesNo(MouseEventArgs e)
    {
        var options = new ModalOptions();
        options.Set(ModalOptions.__ExitOnBackGroundClick, true);
        Modal.ShowAsync&lt;PseudoEditor&gt;(options);
    }
}
</code></pre>
<h2 id="wrap-up">Wrap Up</h2>
<p>Modal dialogs are just CSS.  You implement them using layers.  The modal background is a full browser sized layer that covers and &quot;hides&quot; everything below it.  The modal content sits on top, and is the only &quot;live&quot; content.</p>
<p>If your looking for a more complex Modal Dialog with more features, take a look at <a href="https://github.com/Blazored/Modal">Blazored Modal Dialog</a>.</p>
</div></div></div></body></html>





